.navbar-toggler{
color: white !important;
}
.navbar-toggler {
  background-color: #393939; /* Replace with your desired color */
}
.navbar-brand span{
  color: rgb(72, 141, 72);
  font-size: 25px;
}
.navbar-nav .dropdown-menu {
  background-color: #212529;
}
.navbar-nav .dropdown-menu :hover{
  background-color: #212529;
}




