.product-container {
    width: 18rem;
}

.product-image {
    width: 150%;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-price {
    color: #054521;
}

.add-to-cart {
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}
